/* You can add global styles to this file, and also import other style files */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Pacifico', cursive;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("assets/img/fondo.jpg");
    background-size: cover;
    overflow: hidden;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.5);
}

@media (max-width: 768px) {
    body {
        overflow: auto;
    }
  }
